version: '2'

services:
  gotter-api:
    build: ./
    image: gotter-api:latest
    container_name: gotter-api
    restart: always
    environment:
      PG_HOST: "postgres"
      PG_PORT: "5432"
      PG_PASSWORD: "fjlsdjflnm,n"
      PG_USER: "postgres"
      PG_DB: "conduit"
      JWT_SECRET: "fjasdjflasdfksda"
      PORT: "3001"
    ports:
      - 3002:3001
    depends_on:
      - postgres

  postgres:
    image: postgres:10.1-alpine
    restart: always
    environment:
       POSTGRES_PASSWORD: "fjlsdjflnm,n"
       POSTGRES_USER: "postgres"
       POSTGRES_DB: "conduit"
    ports:
      - 5433:5432